.detail-left {
  grid-column: 1/12;
}

/* Title */
.header-title {
  margin: 12px 20px 10px 26px;
  display: flex;
}

.image {
  margin-right: 15px;
}

.header-title .title {
  flex-grow: 1;
}

.header-title .title > .title-content {
  margin-top: -6px;
  width: 100%;
  height: auto;
  overflow: hidden;
  overflow-wrap: break-word;
}

.header-title .title > textarea {
  width: 100%;
  resize: none;
  border: none;
  background: transparent;
  font-size: 25px;
  overflow: hidden;
  overflow-wrap: break-word;
  font-weight: 600;
  line-height: 24px;
  padding: 4px 8px;
  margin: -4px -8px;
  height: auto;
}

/* Description */
.description {
  width: 100%;
}

.description .description-title {
  margin: 12px 20px 10px 26px;
  display: flex;
}

.description .description-content {
  margin-left: 71px;
  margin-right: 20px;
}

.description .description-content > textarea {
  padding: 8px 12px;
  border: none;
  background-color: #eaecf0;
  resize: none;
  width: 100%;
  min-height: 108px;
  border-radius: 5px;
}
.description .description-content > button {
  background-color: #5aac44;
  border: none;
  color: #fafafa;
  font-weight: 400;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  outline: none;
  padding: 5px 10px;
}
.description .description-content > button:hover {
  opacity: 0.8;
}
.description .description-content > button:active {
  opacity: 1;
}
.description .description-content button#cancel {
  background-color: orangered;
}

/* Comment */
.comment {
  margin-top: 10px;
  padding-left: 25px;
}

.comment-title {
  display: flex;
}
.comment-title > .title {
}

.comment-title > .image {
}
