.create-task-employee {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ant-modal-title {
  font-size: 24px;
}

.ant-form-item {
  display: flex;
  justify-content: center;
}